:root
    --neu-bottom-shadow: #9f9f9f48
    --neu-top-shadow: white
    --neu-white: #e9e8e8

.neu-box
    padding: 10px
    border-radius: 25px
    box-shadow: 5px 5px 11px var(--neu-bottom-shadow), -5px -5px 11px var(--neu-top-shadow)

.neu-top-white
    background-color: var(--white-bg)
    background: linear-gradient(171deg, var(--white-bg) 10%, var(--neu-white)  100%)

.neu-top-white.neu-box-inner
    background-color: var(--white-bg)
    background: linear-gradient(171deg, var(--neu-white) 10%, var(--white-bg)  100%)
