.item-container
    padding: 20px 0

.item-name
    margin: 0
    font-size: 24px
    color: var(--accent-color)
    font-family: var(--strong-font)

input.item-desc
    display: block
    font-size: 18px
    margin: 10px 20px 5px

.item-heading
    display: flex
    align-items: baseline

.item-id
    display: flex
    width: min-content
    margin-right: 10px
    font-size: 18px

.item-id-color
    color: var(--subtext-color)

.item-field
    font-size: 18px

.item-accent
    color: var(--accent-color)

.item-margin
    margin: 0 20px