.message-canvas
    position: absolute
    bottom: 0
    left: 0
    margin: 20px
    background-color: var(--header-bg)
    padding: 10px 20px
    border-radius: 18px
    font-size: 18px
    font-family: var(--default-font)
    color: var(--text-color)
    transition: .2s ease-in

.message-canvas.hidden
    transform: translateY(80px)
