.app-container 
    display: grid
    position: relative
    grid-template-columns: 1fr 400px
    grid-template-rows: 80px calc(100vh - 80px)
    grid-template-areas: "header header" "items groups"
    font-family: var(--default-font)
    color: var(--text-color)